@import url('https://fonts.googleapis.com/css2?family=Acme&family=Istok+Web:wght@700&family=Roboto:wght@300&family=Sunflower:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --main-bg-color: #262727;
    --title: #1CC272;
  }

.icono{
    transform: scale(1.2);
    /* border: 4px solid var(--main-bg-color); */
    border-radius: 50%;
    text-align: center;
}

#contenedor{
    display: flex;
    flex-direction: row;
}

/* #conten-estadisticas{
    align-items: center;
} */
#info{
    width: 25rem;
    height: 20rem;
    background: linear-gradient(111.41deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%);
    backdrop-filter: blur(100px);
    padding: 25px 30px 30px 25px;
    border-radius: 20px; 
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
    margin-left: -5.5rem;
    margin-top: 1rem;
}
.info2 h2{
    font-size: 20px;
    font-family: 'Sunflower', sans-serif; 
    color:black;
    margin-left:18%;
}
#info p{
    margin-top:1.5rem;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.datosPersonales{
    width: 25rem;
    height: 20rem;
    background: linear-gradient(111.41deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%);
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(100px);
    border-radius: 20px;
    padding: 25px 30px 30px 25px;
    
    margin-bottom: 2rem;
    margin-left: 8rem;
    margin-top: 1rem;
}

.datosPersonales h1{
    text-align: center;
    font-size: 25px;
    margin-bottom: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
}

.datosPersonales h2{
    text-align:auto;
    font-size: 18px;
    margin-top: 2rem;
    color: black;
    margin-left:8%;
    font-family: 'Monstserrat',sans-serif;
}

.estadisticas{
    width: 50rem;
    height: 24rem;
    background: linear-gradient(111.41deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%);
    backdrop-filter: blur(100px);
    padding: 25px 30px 30px 50px;
    border-radius: 20px; 
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
}
.estadisticas h1{
    text-align: center;
    font-size: 40px;
    margin:  0 0  30px 0;
    text-decoration: underline;
}

.estadisticas h2{
    font-size: 22px;
    margin: 10px 0;
    color: black;
}
