*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    padding-left: 0;
}

body{
    background-color: #344A81F2;
}
.App {
    display: grid;
    place-items: center;
    height: 100vh;
}

.app_body{
    height: 90vh;
    width: 95vw;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 10px;
    display: flex;

}
.home, .question, .nfp{
    display:flex;
    height: 90vh;
    align-items: center;
    font-size: 3rem;
    margin-left: 16rem;
}

.perfil{
    display:flex;
    flex-direction: column;
    padding: 8rem;
    padding-top:1.2rem;
    margin-top: 4rem;
    height: 78vh;
    align-items: right;
    font-size: 3rem;
    margin-left: auto;
    overflow: auto;
    margin-bottom: 2rem;
}

.card{
    font-size: 15px;
}

.app_body .card {
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    margin: 0 6px;
    background: linear-gradient(111.41deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%);
    backdrop-filter: blur(100px);
    
}

.tutos, .misTutos {
    margin-left: 10rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
    display: flex;
    overflow: auto;
    
    
    
    
}
@media (min-width: 768px) {
    .tutos, .misTutos{
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      column-gap: 4rem;
    }
}
.cardTuto{
    display: flex;
    margin-right: 1rem;
    width: 20rem;
    margin-bottom: 3rem;
    

    
    
}

.cardTuto .card{
    width: 100%;
    height: 16rem;
    border-radius: 5%;
    
    
}

/* .tutos{
    position: absolute;
    display: grid;
    margin-left: 10px;
    grid-template-columns: 1fr 1fr 1fr;
} */